 @media print {
    body {
        background-color: white !important;
    }
    main {
        padding: 0rem 0rem;
    }

    div.content {
        width: fit-content;
        height: fit-content;
        display: inline-block;
    }

    div.email-block-new {
        display: block !important;
        break-inside: avoid;
    }
    div.email-block-response {
        display: block !important;
        break-inside: avoid;
    }

    div.toc, .print-hidden, footer, header {
        display: none;
    }

    .print-visible {
        display: initial !important;
    }

    div.heading-text {
        margin-top: 4rem;
        background-color: #fed43f !important;
        padding: 2rem 4rem;
        text-align: center; 
    }

    div.heading-text img.heading-logo {
        position: relative;
        float: left;
        height: 4rem;
        padding-right: 0.5rem;
        bottom: 1.2rem;
    }

    div.email-block-body pre {
        font-size: 0.7em !important;
    }
}

.print-visible {
    display: none;
}

