@import "_email_block.scss";

table, td, th {
    border: 0.1rem solid black;
    border-collapse: collapse;
}

td, th {
    padding: 0.0rem 0.4rem;
}

h3, .subtitle-text {
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--primary-text-color);
}

div.heading-text img.heading-logo {
    position: relative;
    float: left;
    height: 2rem;
    padding-right: 0.5rem;
    bottom: 0.2rem;
}
